:root {
  /* cores */
  --fundo-preto: #121214;
  --fundo-cinza: #D9D9D9;
  --fundo-form: #FAFAFC;
  --cor-fonte-bold: #32264D;
  --cor-fonte-normal: #4E4958;
  --cor-fonte-informativo: #C1BCCC;
  --cor-focus: #FF1010;
  --cor-checked: #42D3FF;
  --cor-branca: #FFF;
  --cor-button: #04D361;
  --cor-button-hover: #08af53;
  --cor-linha-formulario: #E6E6F0;
  /* fontes */
  --fonte-poppins:'Poppins', sans-serif;
  --fonte-archivo:'Archivo', sans-serif;
}
/* GLOBAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--fundo-cinza);
  font-family: var(--fonte-poppins);
}

body, input, button, select, textarea {
  font-family: var(--fonte-poppins);
}

.page {
  width: 736px;
  margin: auto;
}

/* CABEÇALHO */

body::before {
  content: "";
  width: 100%;
  height: 368px;
  background: var(--fundo-preto);
  position: absolute;
  z-index: -1;
}

header {
  width: 736px;
  margin: auto;
  padding: 80px 0 42px 0;
}


header h1 {
  width: 319px;
  font-family: var(--fonte-archivo);
  color: var(--cor-branca);
  line-height: 42px;
  margin-bottom: 24px;
}

header p {
  color: var(--cor-checked);
  line-height: 26px;
  width: 283px;
}

/* FORMULÁRIO */

form {
  background: var(--fundo-form);
  border-radius: 8px 8px 0 0;
  min-height: 200px;
  padding: 64px;
}

fieldset {
  border: none;
}

fieldset legend {
  font-family: var(--fonte-archivo);
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  width: 100%;

  border-bottom: 1px solid var(--cor-linha-formulario);
  padding-bottom: 16px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

fieldset {
  margin-bottom: 40px;
}

.fieldset-wrapper legend {
  color: var(--fundo-preto);
  font-size: 24px;
  font-weight: 400;
}

.input-wrapper label {
  font-family: var(--fonte-poppins);
  font-weight: 700;
  color: var(--cor-fonte-normal);
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 8px;
}

.input-wrapper label span {
  color: var(--cor-fonte-informativo);
  font-size: 12px;
  line-height: 24px;
  margin-left: 12px;
}

.input-wrapper input {
  border: 1px solid var(--cor-linha-formulario);
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  line-height: 26px;
  font-size: 16px;
  color: var(--cor-fonte-informativo);
}

.input-wrapper textarea {
  border: 1px solid var(--cor-linha-formulario);
  border-radius: 8px;
  height: 168px;
  padding: 15px 24px;
  line-height: 26px;
  font-size: 16px;
  color: var(--cor-fonte-informativo);
}

.input-wrapper select {
  border: 1px solid var(--cor-linha-formulario);
  border-radius: 8px;
  padding: 15px 24px;
  margin-top: 8px;
  line-height: 26px;
  font-size: 16px;
  color: var(--cor-fonte-informativo);
}

.check-event {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--cor-fonte-normal);
}

.check-event #check {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.date-event {
  display: flex;
  margin-top: 24px;
  font-weight: 700;
  font-size: 14px;
  color: var(--cor-fonte-normal);
}

.date {
  display: flex;
  flex-direction: column;
  width: 312px;
  margin-right: 20px;
  
}

.date label {
  margin-bottom: 8px;
}

.date input {
  border: 1px solid var(--cor-linha-formulario);
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  line-height: 26px;
  font-size: 16px;
  color: var(--cor-fonte-informativo);
}

.hours1 {
  display: flex;
  flex-direction: column;
  width: 128px;
  margin-right: 20px;
}

.hours1 label {
  margin-bottom: 8px;
}

.hours1 input {
  border: 1px solid var(--cor-linha-formulario);
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  line-height: 26px;
  font-size: 16px;
  color: var(--cor-fonte-informativo);
}

.hours2 {
  display: flex;
  flex-direction: column;
  width: 128px;
  margin-right: 20px;
}

.hours2 label {
  margin-bottom: 8px;
}

.hours2 input {
  border: 1px solid var(--cor-linha-formulario);
  border-radius: 8px;
  height: 56px;
  padding: 0 24px;
  line-height: 26px;
  font-size: 16px;
  color: var(--cor-fonte-informativo);
}




.botao {
  background: #F0F0F4;
  border-top: 1px solid var(--cor-linha-formulario);
  border-radius: 0 0 8px 8px;
  text-align: center;
  padding: 40px;
  margin-bottom: 91px;
}

.botao input{
  background: var(--cor-button);
  border: none;
  border-radius: 8px;
  color: var(--cor-branca);
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  padding: 15px 254px;
  transition: .2s;
}

.botao input:hover {
  background: var(--cor-button-hover);
}

